@charset "UTF-8";

#main_page {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	top: 0px;
	width: calc(100% - 393px);
	min-width: 650px;
}

#main_page a{
	text-decoration: none; /* -- 밑줄 없어짐 */
}


#main_page a:link, #main_page a:visited {
    color: black; /* 원하는 색상으로 설정 */
}

#main_page a:hover {
	font-size: 16px;
	background-color: black;
	color: white;
}